.plot-container {
	margin: auto;
	box-sizing: border-box;
	width: 500px;
	padding: 20px 15px 15px 15px;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.plot-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

.ec-big-container {
  width: 900px;
}

.ec-big-container > .plot-placeholder {
  display: inline-block;
}

.ec-formula {
  font-family: MathJax_Main;
  font-size: 22px;
  margin: 30px auto;
}

.point-a {
  color: #a11d20;
}

.point-b {
  color: #1859a9;
}

.sum {
  color: #662c91;
}

.ec-info {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  height: 100%;
  margin-left: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.ec-equations {
  max-width: 800px;
  margin: auto;
  padding: 10px;
  border: 1px solid black;
  box-sizing: border-box;
}

.generatedPointColumn {
  margin: 0 10px !important;
  padding: 0 !important;
  list-style-type: none;
  font-size: 14px;
}

.btn-default {
  color: #333;
  background-color: #FFF;
  border-color: #CCC;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid #ADADAD;
    border-radius: 4px;
}

.sig-info {
  width: auto !important;
}

.signature-item {
  float: right;
  margin-right: 65px;
  width: 130px;
}

.ec-info .selectricWrapper {
  display: inline-block;
  width: 100px;
  vertical-align: middle;
}

.sig-verify-pk .selectricWrapper {
  margin-left: 70px;
}
.sig-verify-sigf .selectricWrapper {
  margin-left: 25px;
}
.sig-verify-msgh .selectricWrapper {
  margin-left: 40px;
}

.sig-verify-pk .selectric .label, .sig-verify-pk .selectricItems li {
  color: #59D;
}

.sig-verify-sigf .selectric .label, .sig-verify-sigf .selectricItems li {
  color: #629;
}

.sig-verify-msgh .selectric .label, .sig-verify-msgh .selectricItems li {
  color: #A12;
}

