{% for css in post.css %}
  <link rel="stylesheet" href="{{ css | prepend: site.baseurl }}">
{% endfor %}

{% for js in post.js %}
  <script src="{{ js | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"></script>
{% endfor %}

<div class="post">

  <header class="post-header">
    <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
    <a href="{{ post.url | prepend: site.baseurl }}"><h1>{{ post.title }}</h1></a>
  </header>

  <article class="post-content">

  {% if insertContent %}
    {{ insertContent }}
  {% else %}
    {{ post.content }}
  {% endif %}


  </article>

</div>
